/.ipynb_checkpoints
/01. Basic.ipynb
/02. Video Lecture Pandas.ipynb
/03. Python - Azad Chaiwala.ipynb
/04. While Loop 2.ipynb
/04. While Loop.ipynb
/07. Functions.ipynb
/08. Exception Handling.ipynb
/09. File Handling.ipynb
/10. Stack Implementation.ipynb
/11. QR Code Generator & Text to Speech.ipynb
/12. URL Data Parsing.ipynb
/13. NumPy.ipynb
/14. Pandas.ipynb
/cryptos.xlsx
/numbers.csv
/PGC.csv
/PGC.txt
/PGC_2.csv
/qrc.png
/speak.mp3
/Untitled.ipynb